@model List<Synzeal_Inventory.Entity.SZ_PerformaInvoiceDetailsData>
@using Synzeal_Inventory.Entity;
@{
    SynzealLiveEntities db = new SynzealLiveEntities();
    bool isControlledSubstance = false;
    int loopCnt = 1;
    int priceone = 0;
    int pricetwo = 0;
    int pricethree = 0;
    int pricefour = 0;
    int pricefive = 0;
    var proIds = Model.Select(x => x.ProductId).ToList();
    var ProductsData = db.Products.Where(x => proIds.Contains(x.Id)).ToList();
}
<style type="text/css">
</style>
<div class="box-body form-horizontal" id="profrm" style="overflow:scroll">
    <input type="hidden" id="hdnIsControlledSubstance" value="0"/>
    @if (Model.Count > 0)
    {
        <div class="fc-title">
            <h5>
                <b>New Product Added</b>
                <input type="button" value="Delete All" class="btn btn-warning" onclick="deletePIalreadyProduct()" style="float: right;margin-bottom: 5px;" />
                <input type="button" value="Save All" class="btn btn-success" style="float:right;margin-right:10px" onclick="SaveallPIPartialProductDetails()" />
            </h5>
        </div>
        <table class="table table-bordered table-striped dataTable no-footer" id="tblalready">
            <thead>
                <tr style="vertical-align: middle">
                    <th width="2%" rowspan="2" style="vertical-align: middle">
                        Select<input type="checkbox" id="chksaveallalready" /> / # / Log
                    </th>
                    <th width="45%" style="text-align: center;vertical-align: middle" rowspan="2">
                        Product Name / CAS No / CAT No
                    </th>
                    <th width="10%" colspan="4" style="text-align: center;vertical-align: middle">
                        Qty(In mg) / Price(INR/USD) / Pack Size
                    </th>
                    <th width="10%">HSN Code</th>
                    <th width="33%" rowspan="2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var k in Model)
                {
                    var fecthInfoCount = 0;
                    var pendinginfocount = 4;
                    var pList = new List<string>();
                    var pricedt = k.QuoteDetailsPrice;
                    if (!string.IsNullOrEmpty(pricedt))
                    {
                        pList = pricedt.Split(',').ToList();
                        fecthInfoCount = pList.Count;
                        pendinginfocount -= fecthInfoCount;
                    }

                    List<int> priceListRecord = new List<int>();
                    bool isMatched = false;
                    bool isAnyPriceAvailable = false;
                    string pricecontent = "";
                    bool isRedMatched = false;
                    string clsisControlled = "";
                    if(ProductsData.Where(x=>x.Id == k.ProductId).Select(x=>x.IsControlledSubstance).FirstOrDefault() == true)
                    {
                        clsisControlled = "clsisControlled";
                        isControlledSubstance = true;
                    }
                    <tr id="tr_@k.Id" data-QuoteDetailsId="@k.QuoteDetailsId" data-id="@k.Id" class="@clsisControlled">
                        <td class="" style="text-align:center; ">
                            <input type="checkbox" class="delclass" value="@k.Id" title="Select" /> <br />@loopCnt <br />

                        </td>
                        <td>
                            <label>@k.ProductName</label><br />
                            <label>@k.CASNo</label> <br />
                            <label>
                                @k.CATNo
                            </label>
                        </td>

                        @for (int i = 1; i <= fecthInfoCount; i++)
                        {
                            var pstr = pList[i - 1].Split('@');
                            var mgid = "pricemg_" + i + "_" + k.Id;
                            var pid = "price_" + i + "_" + k.Id;
                            var packsize = "packsize_" + i + "_" + k.Id;
                            var classname = "";

                            if (pstr.Count() > 1)
                            {
                                var mgdata = pstr[0];
                                isAnyPriceAvailable = true;
                            }
                            else
                            {
                                isRedMatched = true;
                            }
                            if (i == 1)
                            {
                                if (pstr.Count() > 1 && pstr[1] != null && pstr[1].Trim().Split(' ')[0] != "")
                                {
                                    try
                                    {
                                        priceone += Convert.ToInt32(pstr[1].Trim().Split(' ')[0]);
                                        priceListRecord.Add(Convert.ToInt32(pstr[1].Trim().Split(' ')[0]));
                                    }
                                    catch
                                    {
                                        priceone += 0;
                                        priceListRecord.Add(0);
                                    }
                                }
                                classname = "clspriceone";

                            }
                            if (i == 2)
                            {
                                if (pstr.Count() > 1 && pstr[1] != null && pstr[1].Trim().Split(' ')[0] != "")
                                {
                                    try
                                    {
                                        pricetwo += Convert.ToInt32(pstr[1].Trim().Split(' ')[0]);
                                        priceListRecord.Add(Convert.ToInt32(pstr[1].Trim().Split(' ')[0]));
                                    }
                                    catch
                                    {
                                        pricetwo += 0; priceListRecord.Add(0);
                                    }
                                }
                                classname = "clspricetwo";
                            }
                            if (i == 3)
                            {
                                if (pstr.Count() > 1 && pstr[1] != null && pstr[1].Trim().Split(' ')[0] != "")
                                {
                                    try
                                    {
                                        pricethree += Convert.ToInt32(pstr[1].Trim().Split(' ')[0]);
                                        priceListRecord.Add(Convert.ToInt32(pstr[1].Trim().Split(' ')[0]));
                                    }
                                    catch
                                    {
                                        pricethree += 0; priceListRecord.Add(0);
                                    }
                                }
                                classname = "clspricethree";
                            }
                            if (i == 4)
                            {
                                if (pstr.Count() > 1 && pstr[1] != null && pstr[1].Trim().Split(' ')[0] != "")
                                {
                                    try
                                    {
                                        pricefour += Convert.ToInt32(pstr[1].Trim().Split(' ')[0]);
                                        priceListRecord.Add(Convert.ToInt32(pstr[1].Trim().Split(' ')[0]));
                                    }
                                    catch
                                    {
                                        pricefour += 0; priceListRecord.Add(0);
                                    }
                                }
                                classname = "clspricefour";
                            }
                            if (i == 5)
                            {
                                if (pstr.Count() > 1 && pstr[1] != null && pstr[1].Trim().Split(' ')[0] != "")
                                {
                                    try
                                    {
                                        pricefive += Convert.ToInt32(pstr[1].Trim().Split(' ')[0]);
                                        priceListRecord.Add(Convert.ToInt32(pstr[1].Trim().Split(' ')[0]));
                                    }
                                    catch
                                    {
                                        pricefive += 0;
                                        priceListRecord.Add(0);
                                    }
                                }
                                classname = "clspricefive";

                            }
                            string mgclassname = classname + "mg";
                            <td>
                                @{
                                    int qty = 0;
                                    if (!string.IsNullOrEmpty(pstr[0]) && !pstr[0].Contains("No"))
                                    {
                                        if (!string.IsNullOrEmpty(pstr[0].Trim().Replace("mg", "")))
                                        {
                                            try
                                            {
                                                qty = Convert.ToInt32(pstr[0].Trim().Replace("mg", ""));
                                            }
                                            catch (Exception ex)
                                            {
                                                qty = 0;
                                            }
                                        }
                                    }
                                }
                                <input type="number" style="width:80px" id="@mgid" class="@mgclassname" value="@qty" />

                                @if (pstr.Count() > 1)
                                {
                                    if (!pstr[1].Trim().Split(' ')[0].Contains("USD") && !pstr[1].Trim().Split(' ')[0].Contains("INR") && !pstr[1].Trim().Split(' ')[0].Contains("EUR") && !pstr[1].Trim().Split(' ')[0].Contains("GBP"))
                                    {
                                        <input class="@classname" type="number" id="@pid" value="@pstr[1].Trim().Split(' ')[0]" style="margin-top: 5px;width: 80px" />
                                        <br />
                                        if (pstr[1].Trim().Contains("X"))
                                        {
                                            if (pstr[1].Trim().Contains("="))
                                            {
                                                <input type="number" id="@packsize" value="@pstr[1].Trim().Split('X')[1].Trim().Split(' ')[0]" placeholder="Size" style="        margin-top: 5px;width: 80px" />
                                            }
                                            else
                                            {
                                                <input type="number" id="@packsize" value="@pstr[1].Trim().Split('X')[1].Trim()" placeholder="Size" style="        margin-top: 5px;width: 80px" />
                                            }
                                        }
                                        else
                                        {
                                            <input type="number" id="@packsize" value="" placeholder="Size" style="margin-top: 5px;width: 80px" />
                                        }
                                    }
                                    else
                                    {
                                        <input class="@classname" type="number" id="@pid" value="" style="margin-top: 5px;width: 80px" /><br />
                                        <input type="number" id="@packsize" value="" placeholder="Size" style="margin-top: 5px;width: 80px" />
                                    }
                                }
                                else
                                {
                                    <input class="@classname" type="number" id="@pid" value="" style="margin-top: 5px;width: 80px" /><br />
                                    <input type="number" id="@packsize" value="" placeholder="Size" style="margin-top: 5px;width: 80px" />
                                }
                            </td>
                        }
                        @for (int i = 1; i <= pendinginfocount; i++)
                        {
                            var classname = "";
                            var index = fecthInfoCount + i;
                            var mgid = "pricemg_" + index + "_" + k.Id;
                            var pid = "price_" + index + "_" + k.Id;
                            var packsize = "packsize_" + i + "_" + k.Id;
                            var mgvalue = "";
                            if (index == 1)
                            {
                                classname = "clspriceone";
                                // mgvalue = "10";
                            }

                            if (index == 2)
                            {
                                classname = "clspricetwo";
                                // mgvalue = "25";
                            }
                            if (index == 3)
                            {
                                classname = "clspricethree";
                                /// mgvalue = "50";
                            }
                            if (index == 4)
                            {
                                classname = "clspricefour";
                                // mgvalue = "100";
                            }
                            if (index == 5)
                            {
                                // classname = "clspricefive";
                            }
                            if (pendinginfocount != 4)
                            {
                                mgvalue = "";
                            }
                            string mgclassname = classname + "mg";
                            <td>
                                <input type="number" id="@mgid" value="@mgvalue" class="@mgclassname" style="width: 80px" /><br />
                                <input type="number" class="@classname" id="@pid" style="margin-top: 5px;width: 80px" /><br />
                                <input type="number" id="@packsize" value="" placeholder="Size" style="margin-top: 5px;width: 80px" />
                            </td>
                        }

                    <td>
                        @Html.DropDownList("HsnCode_" + k.Id, (IEnumerable<SelectListItem>)ViewBag.listItemshsncode, new { @class = "form-control" })

                    </td>
                        <td>
                            <label>Traceability Cost : </label>  <input type="number" style="width: 100px" id="trace_@k.Id" value="@k.TraceabilityCost" placeholder="Traceability Cost" />
                            <br />  <label>Additional Tests Charges : </label>  <input style="width: 100px"  type="number" id="addtest_@k.Id" value="@k.AdditionTest" placeholder="Additional Tests Charges" />
                            <br /><label>Cold Shipment Charges : </label>  <input style="width: 100px"  type="number" id="coldship_@k.Id" value="@k.Coldshipment" placeholder="Cold Shipment Charges" />
                        </td>
                    </tr>

                                        loopCnt += 1;
                                    }
            </tbody>
        </table>
    }
    else
    {
    }
</div>
<script type="text/javascript">
    
    if ('@isControlledSubstance' == 'True') {
        $("#hdnIsControlledSubstance").val('1');
        $("#SecurityCode").css('display','');
    }
    $(document).ready(function () {
        //$("#tblalready").find("#chksaveallalready").change(function () {
        //    if ($(this).is(":checked")) {
        //        $("#tblalready").find(".delclass").each(function () {
        //            $(this).attr('checked', true);
        //        });
        //    }
        //    else {
        //        $("#tblalready").find(".delclass").each(function () {
        //            $(this).attr('checked', false);
        //        });
        //    }
        //});


        editTempPartialProductDetails()
        $('.estdiscls').datepicker({
            format: 'dd/mm/yyyy'
        });

        $('.estdiscls').each(function () {
            var dateValue = $(this).attr('data-value');
            if (dateValue !== '') {
                dateValue = dateValue.toString().replace(' 00:00:00', '');
                $(this).datepicker("setDate", dateValue);
            }
        });

        $('.clssynthesislogtemp').each(function () {
            var dateValue = $(this).attr('data-value');
            if (dateValue === 'True') {
                $(this).attr('checked', true);
            }
        });

    });

    $("#chksavetempalready").click(function () {
        if ($(this).is(":checked")) {
            $("#tbltempproduct").find('.deltempclass').each(function () {
                $(this).prop("checked", true);
            });
        }
        else {
            $("#tbltempproduct").find(".deltempclass").each(function () {
                $(this).prop("checked", false);
            });
        }
    });

    $("#chksynthesistempalready").click(function () {
        if ($(this).is(":checked")) {
            $("#tbltempproduct").find('.clssynthesislogtemp').each(function () {
                $(this).prop("checked", true);
            });
        }
        else {
            $("#tbltempproduct").find(".clssynthesislogtemp").each(function () {
                $(this).prop("checked", false);
            });
        }
    });


    function EditTempProductDetails(id) {
        $("#edittemp_" + id).hide();
        $("#savetemp_" + id).show();
        $("#trtemp_" + id).find("label").hide();
        $("#trtemp_" + id).find("input").show();
    }

    function SaveTempProductDetails(id) {
        var quoteId = $("#QuoteId").val();
        var productname = $("#productnametemp_" + id).val();
        var price = $("#pricetemp_" + id).val();
        var casno = $("#casnotemp_" + id).val();
        var catno = $("#catnotemp_" + id).val();
        var leadtime = $("#leadtimetemp_" + id).val();
        var proRemark = $("#productremark_" + id).val();
        var estimateDispatchDate = $("#estimateDispatchDate_" + id).val();
        var synthesislogtemp = $("#synthesislogtemp_" + id).is(':checked');

        var model = {
            ProductName: productname,
            casno: casno,
            catNo: catno,
            price: price,
            leadtime: leadtime,
            productremark: proRemark,
            id: id,
            estimateDispatchDate: estimateDispatchDate,
            synthesislog: synthesislogtemp
        };

        $.ajax({
            url: '/Form/UpdateTempProductInfo',
            data: model,
            type: 'POST',
            success: function (data) {
                if (data.success) {
                    Quote.tempProductListForQuote();
                }
            }
        });
    }
</script>