<script type="text/javascript">
    var srp = '../';
</script>

<div id="chat_widnow">
    <div id="chat_title_bar">
        <span class="col-sm-9 text-primary"><strong>Online Users</strong></span>
        <div id="chat_min_button"><i class="fa fa-plus-square"></i></div>
    </div>
    <div id="chat_box" style="display: none;overflow-y:auto;">
    </div>
</div>
<div id="chat_div"></div>
<input id="hdId" type="hidden" />
<input id="hdUserName" type="hidden" />
<input ID="hdnCurrentUserName" type="hidden" value="@Synzeal_Inventory.Models.SessionCookieManagement.UserName" />
<input ID="hdnCurrentUserID" type="hidden" value="@Synzeal_Inventory.Models.SessionCookieManagement.UserId" />

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
@*<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>
<link href="@Url.Content("~/css/jquery.ui.chatbox.css")" rel="stylesheet" />
<script src="@Url.Content("~/scripts/jquery.ui.chatbox.js")"></script>
<script src="@Url.Content("~/scripts/chatboxManager.min.js")"></script>*@