@model List<Synzeal_Inventory.Models.QuotationListModel>
@{
    Synzeal_Inventory.Entity.SynzealLiveEntities db = new Synzeal_Inventory.Entity.SynzealLiveEntities();
    bool isattachment = Convert.ToBoolean(ViewBag.IsAttachment);
}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <div class="box-body form-horizontal" style="font-family:'Roboto', sans-serif;">
        <p>Dear Concern,</p>
        <p>Please find below dispatch details against your order.</p>
        <br />
        <table width="100%" class="table table-bordered table-striped" border="1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>PO No.</th>
                    <th>Product Name</th>
                    <th>QTY. (mg)</th>
                    <th>Batch No.</th>
                    <th>Name of Buyer</th>
                    <th>Courier</th>
                    <th>Tracking No.</th>
                    <th>Location</th>
                    <th>Ref Name</th>
                    <th>Purpose Of Dispatch</th>
                </tr>
            </thead>
            @foreach (var k in Model)
            {
                <tr>
                    <td>
                        @k.PackDate
                    </td>
                    <td>@k.PONumber</td>
                    <td>@k.ProductName</td>
                    <td>@k.RequiredQty</td>
                    <td>@k.BatchNo</td>
                    <td>@k.CompanyName</td>
                    <td>
                        @if (!string.IsNullOrEmpty(k.Courier))
                        {
                            int cid = Convert.ToInt32(k.Courier);
                            @db.SZ_Courier.Where(x => x.Id == cid).Select(x => x.Name).FirstOrDefault()
                        }
                    </td>
                    <td>@k.TrackingNo</td>
                    <td>@k.Location</td>
                    <td>@k.RefName</td>
                    <td>@(k.PurposeDispatch != "--Select--" ? k.PurposeDispatch : string.Empty)</td>
                </tr>
            }
        </table>
        <br />
        <p>If there are any problems, please feel free to contact us.</p>
        @if (isattachment)
        {
            <p>Attached PDF's are the shipping documents for your convenience. </p>
            <br />
        }
        <p>Thank you very much for your business.</p>
        <br />
        
        <p>
            Kind Regard,
        </p>
        <p>
            ~signaturename
        </p><p>
            ~signaturemobile
        </p>
    </div>