

@model List<Synzeal_Inventory.Models.ProjectListModel>
@{
    Synzeal_Inventory.Entity.SynzealLiveEntities db = new Synzeal_Inventory.Entity.SynzealLiveEntities();
}
@using Synzeal_Inventory.Models
@using Newtonsoft.Json
@functions {
    public string GetDaySuffix(int day)
    {
        switch (day)
        {
            case 1:
            case 21:
            case 31:
                return "st";
            case 2:
            case 22:
                return "nd";
            case 3:
            case 23:
                return "rd";
            default:
                return "th";
        }
    }
}
<div class="box-body form-horizontal">

    <p>Hello @ViewBag.CompanyName,</p>

    <p> We would like to inform you that SynZeal Research has updated shared point with following changes.</p>
    <table width="100%" class="table table-bordered table-striped" cellpadding="7" border="1">
        <thead>
            <tr>
                <th>PO No.</th>
                <th>Product Name</th>
                <th>CAS No</th>
                <th>CAT No</th>
                <th>PO Date</th>
                <th>Batch No</th>
                <th>QTY. (mg)</th>
                <th>Current Status</th>
                <th>Estimate Comp. Date	</th>
            </tr>
        </thead>
        @foreach (var k in Model)
        {
            <tr>
                <td>@k.PONumber</td>
                <td>@k.ProductName</td>
                <td>@k.CASNo</td>
                <td>@k.CATNo</td>
                <td>
                    @if (k.PODate.HasValue)
                    {
                        @k.PODate.Value.GetOrdinalDate()
                    }
                </td>
                <td>@k.SelectedAdditionalBatchNo</td>
                <td>@k.RequiredQty</td>
                <td>@k.LastStatus</td>
                <td>
                    @if (k.EstimateCompleteDate.HasValue)
                    {
                        <span>@k.EstimateCompleteDate.Value.GetOrdinalDate()</span>
                    }
                </td>
            </tr>
        }
    </table>
    <p>
        The above list contains updated made on @DateTime.Now.GetOrdinalDate() only.
    </p>
    <p>
        If you have any question regarding the update, please mentioned in the remarks section directly.
    </p>
    <p>
        <a href="http://spms.synzeal.com/" target="_blank">Click here</a> to login on SynZeal Share Point.
    </p>
    <p>
        Sincerely,
    </p>
    <p>
        SynZeal Research Pvt Ltd <br />
        http://www.synzeal.com
    </p>
    <p>
        For further assistance, contact standards@synzeal.com
    </p>
    <p style="background: #f1f3f4;padding:15px;">
        You have received this notification because your email address, or a group email address because your e-mail address is assigned to receive update regarding pending purchase order. If you do not want to receive future notifications, update the email addresses with us by responding to this e-mail.
    </p>
</div>
<style>
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
</style>