@model Synzeal_Inventory.Entity.Dashboard_Result[]
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-wrapper" style="min-height: 960px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Company Dashboard <a href="/Form/Dashboard" class="btn btn-primary" style="float:right">Go to Dashboard</a>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box box-info">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="example1" class="table no-margin table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="text-align:center">Sr No.</th>
                                <th>Company Name</th>
                                <th style="text-align:center">Total PO</th>
                                <th style="text-align:center">Total Products</th>
                                <th style="text-align:center">Pending Action</th>

                                <th style="text-align:center">Synthesis</th>
                                @*<th style="text-align:center">Resynthesis</th>*@
                                <th style="text-align:center">Instock</th>
                                <th style="text-align:center">Purchased</th>
                                <th style="text-align:center">Dispatched</th>
                                <th style="text-align:center">On Hold</th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        @if (Model.Count() > 0)
                        {
                            int iCount = 1;
                            foreach (var item in Model.OrderByDescending(x => x.ProductCount))
                            {
                                <tr>
                                    <td style="text-align:center">@iCount</td>
                                    <td>@item.CompanyName</td>
                                    <td style="text-align:center">@item.POCount</td>
                                    <td style="text-align:center">@item.ProductCount</td>
                                    <td style="text-align:center">
                                        @if (item.PendingAction != 0)
                                        {
                                            <a href="javascript:void(0)" onclick="PendingAction(@item.CompanyId)" style="color:red">@item.PendingAction</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)">@item.PendingAction</a>
                                        }
                                    </td> 
                                    <td style="text-align:center">@item.SynthesisAction</td>
                                    <td style="text-align:center">
                                        @if (item.InStockAction != 0)
                                        {
                                            <a href="javascript:void(0)" onclick="InStockAction(@item.CompanyId)">@item.InStockAction</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)">@item.InStockAction</a>
                                        }
                                    </td>
                                    <td style="text-align:center">
                                        @if (item.PurchaseAction != 0)
                                        {
                                            <a href="javascript:void(0)" onclick="PurchaseAction(@item.CompanyId)">@item.PurchaseAction</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)">@item.PurchaseAction</a>
                                        }
                                    </td>
                                    <td style="text-align:center">@item.DispatchedAction</td>
                                    <td style="text-align:center">@item.OnHoldAction</td>
                                    <td><a href="/Form/CompanyDetailDashboard/@item.CompanyId">Detailed</a></td>
                                </tr>
                                iCount += 1;
                            }
                        }

                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>

        </div>
    </section>

</section>
<script>
    $(function () {
        $('#example1').DataTable({
            "pageLength": 25,
            "order": [[0, "asc"]]
        })
    });


    function InStockAction(companyId) {

        $.ajax({
            url: '/Form/InStockAction',
            data: { id: companyId },
            type: 'POST',
            traditional: true, // add this
            dataType: 'json',
            success: function (data) {
                $('.modal-body').html(data.html);
                $('#myModal').modal({ show: true });
                $(".modal-dialog").css("width", "1200px");
            }
        });
    }

    function PendingAction(companyId) {
        $.ajax({
            url: '/Form/PendingAction',
            data: { id: companyId },
            type: 'POST',
            traditional: true, // add this
            dataType: 'json',
            success: function (data) {
                $('.modal-body').html(data.html);
                $('#myModal').modal({ show: true });
                $(".modal-dialog").css("width", "1080px");
            }
        });
    }

    function PurchaseAction(companyId) {
        $.ajax({
            url: '/Form/PurchaseAction',
            data: { id: companyId },
            type: 'POST',
            traditional: true, // add this
            dataType: 'json',
            success: function (data) {
                $('.modal-body').html(data.html);
                $('#myModal').modal({ show: true });
                $(".modal-dialog").css("width", "1200px");
            }
        });
    }


    function SaveAllPendingActions() {
        var ids = [];

        $('.clsSaveAll').each(function () {
            if ($(this).is(':checked')) {
                ids.push($(this).val());
            }
        });

        if (ids.length === 0) {
            toastr.error('Please select atleast one Product.');
            return false;
        }

        var count = 1;
        $('.clsSaveAll').each(function () {
            var id = $(this).val();
            //$("#qty_" + id).css('border', '');
            if ($(this).is(':checked')) {

                var scactionId = $("#ScientistIdaction_" + id).val();
                var projectactionType = $("#Projecttypeaction_" + id).val();

                $('.clsProjType').each(function (i, v) {

                    var attr = $(this).attr("data-quoteDetailsId");
                    if (attr === id) {
                        projectactionType = $(this).val();
                    }
                });

                $('.scientist').each(function (i, v) {

                    var attr = $(this).attr("quotedetailsid");
                    if (attr === id) {
                        scactionId = $(this).val();
                    }
                });
                //var qty = $("#qty_" + id).val();
                //var batchno = $("#batchno_" + id).val();
                //var additionalBatch = $("#additionalBatch_" + id).val();
                //var remark = $("#remark_" + id).val();
                //if (qty === "" && qty !== "0") {
                //    $("#qty_" + id).css('border', '1px solid red');
                //    return false;
                //}
                $.ajax({
                    url: '/Form/SavePendingAction?scId=' + scactionId + '&projectType=' + projectactionType + '&id=' + id, /* + '&batchno=' + batchno + '&remark=' + remark + '&additionalBatch=' + additionalBatch + '&scientistStatus=' + scientistStatus,*/
                    data: {},
                    type: 'POST',
                    async: false,
                    success: function (data) {
                    },
                    complete: function (data) {
                        successAlert(count, ids.length);
                        count += 1;
                    }
                });
            }
        });
    }
    function successAlert(count, forloopcount) {
        if (count === forloopcount) {
            toastr.success("You have updated product information.");
            setTimeout(function () { window.location.reload(true); }, 2000);
        }
    }
</script>
<style type="text/css">
    #example1 td {
        font-size: 18px;
    }

        #example1 td a {
            font-size: 18px;
        }
</style>