@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Synzeal_Inventory.Models.ProductModel>

<link href="~/Content/css/select2.css" rel="stylesheet" />
<link href="~/Content/select2-bootstrap.css" rel="stylesheet" />
<script src="~/js/select2.js"></script>


<style type="text/css">
    .rowqty .redrowqty {
        background: rgba(240, 128, 128, 0.28);
    }

    .letter {
        padding: 8px;
        background: #2e363f;
        color: #fff;
        font-size: 13px;
        cursor: pointer;
        width: 15px;
        float: left;
        margin: 2px 0.6%;
        text-align: center;
    }

    th.ui-th-column div {
        white-space: normal !important;
        height: auto !important;
        padding: 2px;
    }

    .showimage {
        position: absolute;
        left: 32%;
        padding: 10px;
        border: 5px solid #5c5c5c;
        background: #fff;
        margin-top: -1.5%;
    }

    .showSynonym {
        position: absolute;
        left: 25%;
        padding: 10px;
        border: 5px solid #5c5c5c;
        background: #fff;
        margin-top: -1.5%;
    }

    #loadapi .span2 {
        background: #ef6718;
        font-size: 14px;
        color: #fff;
        padding: 8px 5px;
        margin: 2px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div id="showimage">

</div>
<div style="padding: 5px 30px; color: Red; font-size: 15px; text-align: right">
    @if (TempData["Message"] != null)
    {
        @TempData["Message"]
    }
</div>

<!--End-breadcrumbs-->

<div class="container-fluid">
    @using (Html.BeginForm("Upload", "Form", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="span5" style="position: relative;float: right;padding: 10px;border: 1px solid #5c5c5c; width: 300px; height: 75px;">
            <b>Import Excel File : <br /></b>
            <input type="file" name="UploadedFile" style="    width: 70%;"/>
            <input type="submit" name="Submit" value="Submit" class="btn btn-primary" /><br />
            <a href="~/Document/samplefile.xlsx" style="color:red" download>Download Sample File</a>
        </div>
    }
    <div style="margin:15px;">
        @for (char c = 'A'; c <= 'Z'; c++)
        {
            <div class="letter " data-letter="@c" onclick="SelectInventoryChar('@c')">@c</div>
        }
    </div>
    <div class="clearfix"></div>
    <div id="loadapi" class="js-example-basic-single" style="text-align: left;">
            Batch No : <input type="text" id="searchBatchNo" name="searchBatchNo" style="margin-bottom:0">
            <input type="button" value="Search" style="margin-right: 10%;" class="btn btn-primary" onclick="searchBacthNoInventory()" />
        Select API : <select id="loadapiselect">
            <option value="0">--Select--</option>
        </select>
        <input type="button" value="Search" class="btn btn-primary" onclick="searchinventory()" />
        <button class="btn btn-primary" id="collapsediv" onclick="InventoryCollapseExpandGrid('expand')">Expand</button>
        <a href="@Url.Action("ExportInventoryList","Form")"class="btn btn-primary">Export Data</a>
    </div>

    <div class="tags_clear"></div>
    <div class="clearfix"></div>

    <div id="invgrid">
        <table id="grid" width="98%"></table>
        <div id="pager"></div>
    </div>
</div>
@*<a class="btn" data-toggle="modal" href="#myModal">Launch Modal</a>*@
<script type="text/javascript">

    $(document).ready(function () {
        $("#loadapiselect").select2();
    });

    function searchinventory() {
        var value = $('#loadapiselect').val();
        if (value === "0") {
            swal("Please select API.")
            return false;
        }
        InventoryGrid(value);
    }

    @*var url = '@Url.Action("Test","Form")';
    openModal(url, 'slide-right', 'sm');*@

    function SelectInventoryChar(char) {
        $('.letter').removeClass('letter-active');
        $('.letter').each(function () {
            var attr = $(this).attr('data-letter');
            if (attr == char) {
                $(this).addClass('letter-active');
            }
        })

        $.ajax({
            type: "GET",
            url: "/Form/MainCategory/",
            data: { 'id': char },
            dataType: "json",
            success: function (response) {
                if (response.records.length > 0) {
                    $('#grid').jqGrid("clearGridData");
                    $('#loadapiselect').empty();
                    var str = "";
                    str += "<option value='0'>--Select--</option>";
                    $(response.records).each(function (i, v) {
                        //str += "<div class='span2' onclick='InventoryGrid(&#39;" + v.Name + "&#39;)'>" + v.Name + "</div>";
                        str += "<option value='" + v.Name + "'>" + v.Name + "</option>";
                    });
                    $('#loadapiselect').append(str);
                }
            },
            error: function (response) {
                alert("Error:" + response);
            }
        });
    }

    function ExportInventoryList() {
        var value = $('#loadapiselect').val();
        if (value === "0") {
            swal("Please select API.")
            return false;
        }
        $.ajax({
            type: "GET",
            url: "/Form/ExportInventoryList/",
            data: { 'searchString': value },
            dataType: "json",
            success: function (response) {
                
            },
            error: function (response) {
                alert("Error:" + response);
            }
        });

    }
</script>