@{
    ViewBag.Title = "UpdateProductdetails";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Synzeal_Inventory.Entity.SZ_ProjectDetail

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Project Detail Update</h5>
            </div>
            <div style="padding:5px 30px;color:Red;font-size:15px;text-align:right" id="errorMsg">
                @if (TempData["Message"] != null)
            {
                    @TempData["Message"]
                }
            </div>
            <div class="widget-content nopadding">
                @using (Html.BeginForm("UpdateProductdetails", "Form", FormMethod.Post, new { enctype = "multipart/form-data",@id= "UpdateProject", @class = "form-horizontal" }))
                {
                    <div class="control-group">
                        <label class="control-label">PO Status :</label>
                        <div class="controls">
                            @Html.HiddenFor(model => model.Id)
                            <select id="Status" name="Status" class="span11">
                                <option value="">--Select--</option>
                                <option value="Packed">Packed</option>
                                <option value="Ready for dispatch">Ready for dispatch</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Not Started">Not Started</option>
                                <option value="In House">In House</option>
                                <option value="On Hold">On Hold</option>
                                <option value="Cancelled">Cancelled</option>
                                <option value="Dropped">Dropped</option>
                            </select>
                        </div>
                        
                        <div class="control-group">
                            <label class="control-label">Completation Date :</label>
                            <div class="controls">
                                <input type="text" id="CompletationDate" name="CompletationDate" class="span11" value="@Model.CompletationDate" readonly="readonly" required />
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="button" class="btn btn-success" onclick="return validation()">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $('#CompletationDate').datepicker({ format: 'dd/mm/yyyy', autoclose: true });

    $('#Status').val('@Model.Status');

    function validation() {
        
        if ($('#Status').val().trim() == "") {
            toastr.error('Please select PO Status.');
            return false;
        }
       
        var formData = JSON.stringify($('#UpdateProject').serializeObject());
        var url = '@Url.Action("UpdateProductdetails", "Form")';
        var results = _Ajax(url, formData, 'POST');
        if (results.type == 'success') {
            ProjectGrid("", false);
            closeModal();
            toastr.success(results.msg);
        } else {
            $('#errorMsg').html(results.msg)
            //swal(results.msg);

        }
    }
</script>